# Compiled class file

*.class



# Log file

*.log



# Package Files

*.war

*.nar

*.ear

*.tar.gz


# Properties
*.properties



# Directories

nbproject/private/

dist/

build/

resurser/



# MacOS files

.DS_Store



# virtual machine crash logs

hs_err_pid*



# Mobile Tools for Java (J2ME)

.mtj.tmp/
